badcases/*.txt
badcases_birth/*.txt
eval_data/
eval_data/order.txt
eval_data/order.zip
eval_data/order.sample.txt
eval_data/label.json
eval_data/eval_data.json
test/
test.model
log/
test-ner/
log_pretag.csv
log_valid.csv
log_train_valid.csv
log.csv
log_birth.csv
htmls/
train_data/
token-classification/
saved_model/
badcases_mymodel/
badcases_train/
log-ner/
curves_train/
best_model/
bak-ner/
final_model/
