badcases/*.txt
badcases_birth/*.txt
eval_data/
eval_data/order.txt
eval_data/order.zip
eval_data/order.sample.txt
eval_data/label.json
eval_data/eval_data.json
test/
test.model
log/
test-ner/
log_pretag.csv
log_train_valid.csv
log.csv
log_birth.csv
htmls/
train_data/
